  * {
  font-family: 'Inter', sans-serif; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  } 
  img {
    width: 100%;
    padding-right: .25em;
  } 
  header {
    background: rgb(248, 248, 248);
  }
  .container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 10px;
  }
  .col {
    margin: 10px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
  }
  h5 {
    padding: 2em 0 1em 0;
  } 
  .port{
    padding: 3em 0 .5em 0em;
  }
  body {
      text-align: center;
  }
  .resize {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    padding-right: 1em;
    padding-left: 1em;
    font-size: 10px;
    color: rgb(119, 119, 119)
  }
  .intro {
    width: 20em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 0;
    font-size: 15px;
 }
  h4 {
    font-size: 13px;
    color: rgb(119, 119, 119)
  }
  hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 1em;
  }
  .main-footer {
    text-align: center;
    background: rgb(248, 248, 248);
    overflow: hidden;
  }
  a {
  color: inherit;
  }
  .back {
    float: right;
    padding:0 3em 1em 0;
  }
  
  .bp {
    width: 21em;
    padding: 2em 0em 1em 0;
    margin-left: 2em;
    font-size: 13px;
  }
  header {
    padding: 1.5em;
  }
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .home {
    background-color: white;
    padding: 1em;
    margin: 1.5em 0em 0em 0em;
    list-style: none; 
    font-weight:bold;
  }
  .portfolio {
    background-color: white;
    padding: 1em;
    margin: .25em 0em 0em 0em;
    list-style: none; 
    font-weight:bold;
  }
  .contact {
    background-color: white;
    padding: 1em;
    margin: .25em 0em 2em 0em;
    list-style: none; 
    font-weight:bold; 
  }
  .homebottom {
  display:none;
  }
  .portfoliobottom {
  display:none;
  }
  .contactbottom {
  display:none;
  }
  .name {
    float: left;
    padding: 0 0 2em 1.1em;
    color: black;
  }
  .back {
    padding-right: 1.1em;
    padding-bottom: 2em;
    color: black;
  }
  .bottomone {
    font-size: 13px;
    padding-bottom: 1em;
  }
  .bottomtwo {
    font-size: 13px;
  }
  
 /* ==================================== 
   Media Querie 1
   ==================================== */
 
 @media screen and (min-width: 768px) { 
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex-basis: calc(50% - 20px);
  }
  h1{
    font-size: 27px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .home, .portfolio, .contact {
    background-color: transparent;
    display: inline;
  }
  .resize {
    width:40%;
    padding-top: 3.5em;
    float: right;
  }
  .clear{
     clear: both;
  }
  .intro {
    font-size: 18px;
    width: 28em;
    text-align: left;
    padding-top: 3em;
    padding-bottom: 6em;
  }
  .bp {
    width: 30em;
    font-size: 20px;
    margin-left: 4.5em;
    padding-bottom: 2em;
  }
  .contactos {
    font-size: 15px;
  }
  .back {
    display: none;
  }
  .containertwo {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1em;
  }
  .homebottom {
    display: inline;
    font-size: 11px;
    font-weight: bold;
    padding-right: 1em;
  }
  .portfoliobottom {
    display: inline;
    font-size: 11px;
    font-weight: bold;
    padding-right: 1em;
  }
  .contactbottom {
    display: inline;
    font-size: 11px;
    font-weight: bold;
  }
  .main-footer {
    height: 400px;
  }
  .name { 
    padding-top: 2.5px;
    color: black;
  } 
  .bottomone {
    font-size: 15px;
    margin-left: 13em;
  }
  .bottomtwo {
    font-size: 15px;
    margin-left: 13em
  }
  p {
    padding-bottom: 2em;
    font-size: 13px;
    width: 24.5em;
    margin-left: .5em
  }
 } 
/* ==================================== 
   Media Querie 2
   ==================================== */
 
 @media screen and (min-width: 1024px) {
  .col {
    flex-basis: calc(33.333% - 20px);
    margin-left: 1.5em;
  }
  .resize{
    margin-right: .4em;
    margin-bottom: 1em;
  }
  h1 {
    text-align: left;
    margin-bottom: -1.8em;
  }
  .intro {
    font-size: 20px;
    margin-left: 0;
  }
  h5 {
    font-size: 15px;
    color: rgb(121, 121, 121) ;
  }
  nav{
    text-align: right;
    margin-right: -.4em;
  }
  .port {
    padding-top: 4em;
    padding-bottom: 2em;
    color: black;
  }
  img {
    width: 19em;
    margin: 0;
  }
  .searchphoto {
    margin-left: -2px;
  }
  .travelcalc {
    margin-left: -2px;
  }
  p {
    padding-right: 1.2em;
    padding-left: 1.2em;
    margin-left: -.4em;
  }
  .container {
    padding: 0;
    margin: 0 0 0 -.3em;
  }
  body {
    border: rgb(248, 248, 248) 17px solid;
  }
  .bp {
    margin-left: 10em;
  }
  .contactos {
    padding-top: 2em;
    margin-left: 1em;
  }
  .bottomone {
    margin-left: 13em;
    font-size: 20px;
  }
  .bottomtwo {
    margin-left: 13em;
    font-size: 20px;
  }
}
















