   * {
    font-family: 'Inter', sans-serif; 
    box-sizing: border-box; 
   }
   html {
     font-size: 1em; 
   }
   img {
     width: 100%; 
     padding: 1em 0em 1em 0em;
   }
   header {
     background: rgb(248, 248, 248);
     padding: 0;
   }
   .intro {
     padding: 0 1em 0 1em;
   }
   .port{
     padding: 2em 0 .5em 0em;
   }
   body {
       text-align: center;
   }
   .resize {
     display: block;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 1em;
     padding-right: 1em;
   }
   p , h4 {
     font-size: 13px;
     color: rgb(119, 119, 119)
   }
   hr {
     height: 1px;
     background-color: #ccc;
     border: none;
     width: 90%
   }
   .main-footer {
     text-align: center;
     background: rgb(248, 248, 248);
     overflow:hidden
   }
    /* Overflow hidden helps bring the background over to the student name and 
    back to the top elements. Float causes them not to have a background, so
    I had to find a work around.  */
   
   a {
    color: inherit;
   }
   .back {
     float: right;
     padding:0 3em 1em 0;
   }
   
   .bp {
     padding: 1em 2em 1em 2em;
   }
  
   header {
     padding: 5vh 1rem;
   }
   .container {
     padding-left: 2em;
     padding-right: 2em;
   }
   .home {
     background-color: white;
     position: relative;
     right: 1.3em;
     padding: 1em;
     margin: 1.5em 0em 0em 0em;
     list-style: none; 
     font-weight:bold;
   }
   .portfolio {
     background-color: white;
     position: relative;
     right: 1.3em;
     padding: 1em;
     margin: .25em 0em 0em 0em;
     list-style: none; 
     font-weight:bold;
   }
   .contact {
     background-color: white;
     position: relative;
     right: 1.3em;
     padding: 1em;
     margin: .25em 0em 2em 0em;
     list-style: none; 
     font-weight:bold; 
   }
   .name {
     float: left;
     padding: 0 0 1em 3em;
   }
   .homebottom {
    display:none;
   }
   .portfoliobottom {
    display:none;
   }
   .contactbottom {
    display:none;
   }

 /* ==================================== 
   Media Querie 2
   ==================================== */
 
 @media screen and (min-width: 768px) {
  
  
  header {
    padding-bottom: 0;
  }
  h1{
    font-size: 27px;
    position: relative;
    top: .5em;
  }
  .home, .portfolio, .contact {
    background-color: transparent;
    display: inline;
    position: relative;
    top: 2em;
  }
  .resize{
    width:43%;
    position: relative;
    top: 4em;
    left: 13em;
  }
  .intro {
    font-size: 18px;
    width: 24em;
    text-align: left;
    position: relative;
    bottom: 8.3em;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1100px;
    width: 55%;
  }
  
  .marketingpage {
    order: 1;
    padding-right: 1em;
  }
  .searchpage{
    order: 4;
    padding-right: 1em;
  }
  .travelapp{
    order: 2;
    padding-right: 1em;
  }
  .map{
    order: 5;
    padding-right: 1em;
  }
  .photo{
    order: 3;
    padding-right: 1em;
  }
  .calculator{
    order: 6;
    padding-right: 1em;
  }
  .textmap {
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .textsearch {
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .textcalc {
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .textmarketing{
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .texttravel {
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .textgallery {
    width: 19em;
    margin-right: 0;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  .bp {
    width: 32em;
    font-size: 20px;
    position: relative;
    left: 3.5em;
  }
  .contactos {
    font-size: 15px;
  }
  .back {
    display: none;
  }
  .homebottom {
    display: block;
    position: relative;
    bottom: 1.1em;
    left: 8.3em;
    font-size: 11px;
    font-weight: bold;
  }
  .portfoliobottom {
    display: block;
    position: relative;
    left: 15.3em;
    font-size: 11px;
    font-weight: bold;
  }
  .contactbottom {
    display: block;
    position: relative;
    top: 1.1em;
    left: 23.3em;
    font-size: 11px;
    font-weight: bold;
  }
  .main-footer {
    height: 400px;
  }
  .name {
    color: black;
  }
}
 /* ==================================== 
   Media Querie 3
   ==================================== */
  @media screen and (min-width: 1024px) {
  

  
}
       